<ion-content>
  <div class="content-container">
  <ion-card *ngFor="let GetInvolvedContent of GetInvolvedContents; index as i; first as isFirst">
    <ion-card-content>
      <h1>{{GetInvolvedContent.title}}</h1>
      <p [innerHTML]="GetInvolvedContent.description"></p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <h1>Donor Opportunities</h1>
      <p>Thank you for your contribution! Please click the “Donate” button below to contribute to our cause.</p>
      <a href="https://www.paypal.com/donate/?hosted_button_id=WKGJTJDQRDZ4S" target="_blank"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" /></a>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <h1>Volunteer Opportunities</h1>
      <iframe loading="lazy" src="https://docs.google.com/spreadsheet/embeddedform?formkey=dHNpME5MVkhtUVJaREdReXpRV3hZYVE6MQ" width="100%" height="678" frameborder="0" marginheight="0" marginwidth="0">Loading&amp;#8230;</iframe>
    </ion-card-content>
  </ion-card>
</div>
<app-footer></app-footer>

</ion-content>
