<ion-content>
    <div class="content-container">
    <ion-card>
      <ion-card-content>
        <h1>Homeowner Application</h1>
        <form [formGroup]="homeownersApplicationForm" novalidate id="homeownersApplicationForm">
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
          <ion-label position="stacked" text-wrap>Name of homeowner <ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="text" formControlName="name" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>Address <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="address" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
              <ion-label position="stacked" text-wrap>Home phone <ion-text color="danger"></ion-text></ion-label>
              <ion-input type="text" formControlName="homePhone" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>Cell phone <ion-text color="danger"></ion-text></ion-label>
            <ion-input type="text" formControlName="cellPhone" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>Email address <ion-text color="danger"></ion-text></ion-label>
            <ion-input type="text" formControlName="email" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>Is the homeowner: <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="homeownerCondition" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>If elderly, please give the homeowner's age: <ion-text color="danger"></ion-text></ion-label>
            <ion-input type="text" formControlName="homeownerAge" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>Total monthly income of all persons residing at the above address: <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="homeownerMonthlyIncome" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>Is this the only property owned by the homeowner? <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="onlyPropertyOwned" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>Is the homeowner working? <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="isWorking" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>If yes, where is the homeowner employed? <ion-text color="danger"></ion-text></ion-label>
            <ion-input type="text" formControlName="employmentLocation" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>Is the homeowner a member or regular attendee of a local church? <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="isChurchMember" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>If yes, please give the name of the church. <ion-text color="danger"></ion-text></ion-label>
            <ion-input type="text" formControlName="churchName" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>Is the homeowner a member of a community organization? <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="isCommunityOrgMember" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>If yes, please give the name of the community organization. <ion-text color="danger"></ion-text></ion-label>
            <ion-input type="text" formControlName="communityOrgName" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>Please describe why the homeowner needs Christmas in Action to assist with home repairs. <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="assistExplanation" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>Describe the work needed to be done at the homeowner's house. Please be as specific as possible. <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="workNeeded" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white" no-padding>
            <ion-label position="stacked" text-wrap>Friends and family members of the homeowner are encouraged to help with the repairs. List the names, addresses, and phone numbers of family and friends that would be willing to participate. <ion-text color="danger"></ion-text></ion-label>
            <ion-input type="text" formControlName="familyAndFriends" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white">
            <ion-label position="stacked" text-wrap>Is the homeowner aware of this referral? <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="homeownerAwareness" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="none" class="ciaform white">
            <ion-text style="padding-top:16px;">
              This is a one-day program. The work is done by volunteers at no cost to the homeowner. Able-bodied adult relatives living with the homeowner are requested to work on the home on the Christmas in Action Blitz Day. We do not guarantee that all of the work will be completed, but we will make the best effort to finish.
            </ion-text>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white">
            <ion-label position="stacked" text-wrap>How did you learn about Christmas in Action? <ion-text color="danger"></ion-text></ion-label>
            <ion-input type="text" formControlName="howLearnedAboutCIA" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white">
            <ion-label position="stacked" text-wrap>Name of person submitting this referral <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="nameOfPersonSubmitting" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white">
            <ion-label position="stacked" text-wrap>Agency name <ion-text color="danger"></ion-text></ion-label>
            <ion-input type="text" formControlName="agencyName" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white">
            <ion-label position="stacked" text-wrap>Phone number of person submitting application <ion-text color="danger"></ion-text></ion-label>
            <ion-input type="text" formControlName="phoneNumberOfSubmitter" class="ionInput"></ion-input>
          </ion-item>
          <ion-item color="none" lines="inset" class="ciaform white">
            <ion-label position="stacked" text-wrap>Date application is submitted <ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text" formControlName="applicationSubmissionDate" class="ionInput"></ion-input>
          </ion-item>
          <!-- <ion-list radio-group [formControl]="homeownersApplicationForm.controls['homeownerConditon']">
            <ion-list-header>
              Is the homeowner:
            </ion-list-header>
            <ion-item>
              <ion-label>Elderly</ion-label>
              <ion-radio value="Elderly"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Disabled</ion-label>
              <ion-radio value="Disabled"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Low Income</ion-label>
              <ion-radio value="Low Income"></ion-radio>
            </ion-item>
          </ion-list> -->
        </form>
        <ion-col>
          <ion-text color="danger">
            <ul class="ion-padding-start">
              <li *ngFor="let error of gethomeownersApplicationFormErrors()">{{error}}</li>
            </ul>
          </ion-text>
        </ion-col>
        <ion-button color="primary" [disabled]="homeownersApplicationForm.invalid" (click)="saveDetail()">Submit</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-toolbar class="footer">
    &copy; 2021 Christmas in Action Indy. All Rights Reserved.
  </ion-toolbar>
</ion-content>