@media (min-width: 768px) {
    .mobile-header {
        display:none;
    }

    .header {
        display:flex;
        background:#fff;
        padding-left:12%;
        padding-right:12%;
    }

    .header-container {
        min-height:63px;
    }
}

@media (max-width: 768px) {
    .mobile-header {
        display:block;
        background:#fff;
    }

    .header {
        display:none;
    }

    .header-container {
        display:none;
    }
}

.active-item {
    border-bottom:2px solid var(--ion-color-primary);
}