<ion-content>
  <div class="content-container">
  <ion-card>
    <ion-card-content>
      <h1>Contact Us</h1>
      <p>If you are interested in volunteering and/or giving donations to help fund the repairs, please contact us:<br /><br />
        <span style="color:#000;">PO Box 996<br />
        Fishers, IN 46038<br />
        317-721-1CIA (1242)<br />
        <a title="CIAindy@gmail.com" href="mailto:CIAindy@gmail.com">CIAindy@gmail.com</a></span></p>
    </ion-card-content>
  </ion-card>
</div>
<ion-toolbar class="footer">
  &copy; 2021 Christmas in Action Indy. All Rights Reserved.
  <!-- {{FooterContent.text}} -->
</ion-toolbar>
</ion-content>
